<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>上传头像</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/message.css" rel="stylesheet">
    <link href="/changes.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--<link href="jumbotron.css" rel="stylesheet">-->
</head>
<body>

<% include head.ejs %>

<div class="container">
    <form id="personInfo" action="/upphoto" method="post" enctype="multipart/form-data">
        <input type="text" name="name" value="<%= name %>">
        <input type="file" id="photos" name="photos">
        <input type="submit">
    </form>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.js"></script>
</body>
</html>
